@charset "utf-8";
/* CSS Document */

/* structure */

body {
	color: #000;
	background: #f4f4f4 url(../images/bg.jpg);
	margin:0;
	padding:0;
	font-size:16px;
	height:100%;
	min-height:100%;
	font-family: 'Ubuntu', sans-serif;
}
img, a {
	border:0;
}
h1 {
	font-size:30px;
	text-shadow: 0px 1px 1px #fff;
	color:#000;
}
h2 {
	font-size:18px;
	font-weight:normal;
	text-shadow: 0px 1px 1px #fff;
}
a {
	color: #333;
}
a:hover {
	color:#555;
}
:focus, :hover, :active {
	outline:none;
	-moz-outline:none;
}

.clearfloat {width:100%; float:none; clear:both;}

.wrapper {
	background:transparent url(../images/top.png) top left repeat-x;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
}
/* header */

.header {
	width:960px;
	margin:0 auto;
	float:none;clear:both;
	display:block;
	background:transparent url(../images/divider-hor.png) bottom center no-repeat;
	height:72px;
}
ul.topmenu {
	display:block;
	font-weight:bold;
	position:absolute;
	top:0;
	margin-left:160px;
	width:800px;
	margin-top:20px;
}

ul.topmenu.hidden {
	display:none;
}
.hidden {
	display:none;
	height:0;
}
ul.topmenu li {
	list-style:none;
	display:block;
	float:right;
	padding:8px 30px;
	background: transparent url(../images/divider-menu.png) center left no-repeat;
	text-shadow: 0px 1px 1px #fff;
}
ul.topmenu li.last {
	margin-right:0;
	background-image:none;
}
ul.topmenu li a {
	text-decoration:none;
	padding:10px 15px;
}
ul.topmenu li a:hover {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background: rgba(0,0,0,0.05);
	box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-moz-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
}
/* content */


	
.helptext {
	text-shadow: 0px 1px 1px #fff;
	color:#777;
	margin-left:50px;
	font-weight:bold;
	font-size:14px;
}
.front .helptext {
	font-weight:normal;
	font-size:18px;
}
.content {
	width:960px;
	margin:0 auto;
	min-height:100%;
}
/* front-form */

.submit-form {
	width:600px;
	margin:0 auto;
	height:400px;
	padding-top: 200px;
	background: transparent url(../images/logo.png) top center no-repeat;
	margin-top:50px;
}
.link-input-wrapper {
	height:42px;
	display:block;
	width:600px;
	margin:0 auto;
	padding-left:60px;
	background: transparent url(../images/link-icon-large.png) 0px 20px no-repeat;
	padding-top:10px;
	margin-left:-10px;
	padding-bottom:8px;
}
.link-input {
	border: 0;
	box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-moz-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background: #eee url(../images/fieldgrad.png) top left repeat-x;
	padding-top:10px;
	height:40px;
	line-height:40px;
	width:430px;
	padding-left: 7px;
	font-size:24px;
}
.link-button {
	height:48px;
	width:130px;
	margin-left:10px;
	background:#555 url(../images/go-button.png) top left repeat-x;
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
	border:1px #999 solid;
	font-size:20px;
	font-weight:bold;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
	text-shadow:0px 1px 1px #000;
}
.link-button:hover {
	background:#555 url(../images/go-button.png) bottom left repeat-x;
	cursor:pointer;
}
.slogan {
	color:#444;
	text-shadow:0px 1px 1px #fff;
	font-weight:bold;
	position:relative;
	top:-70px;
	margin-left:130px;
}
/*footer */
.front .footer {
	margin:0 auto;
}
.footer {
	width:960px;
	margin:50px auto 0;
	background:transparent url(../images/divider-hor.png) top center no-repeat;
	height:60px;
}
ul.botmenu {
	display:block;
	float:left;
	padding:0;
	font-size:12px;
	margin-top:20px;
}
ul.botmenu li {
	list-style:none;
	display:block;
	float:left;
	padding:8px 20px;
	background: transparent url(../images/divider-menu.png) center right no-repeat;
	text-shadow: 0px 1px 1px #fff;
}
ul.botmenu li.first {
	padding-left:0px;
}
ul.botmenu li.last {
	margin-right:0;
	background-image:none;
}
ul.botmenu li a {
	text-decoration:underline;
	padding:10px 15px;
}
ul.botmenu li a:hover {
	color:#888;
}
ul.botmenu li.github a {
	padding-left:40px;
	background: transparent url(../images/github-icon.png) center left no-repeat;
}
.copyright {
	font-size:11px;
	text-align:right;
	float:right;
	opacity:0.7;
	margin-top:15px;
}
/* login-form */

.shadow {
	background: #222;
}
.login-form {
	width:300px;
	margin:0 auto;
	background:#1e9dc1;
	height:400px;
	margin-top:15%;
	box-shadow: 2px 2px 20px #000;
	-moz-box-shadow: 2px 2px 20px #000;
	-webkit-box-shadow:2px 2px 20px #000;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	position:fixed;
	left:50%;
	margin-left:-150px;
	z-index:1000;
	color:#fff;
	opacity:0;
}
.login {
	cursor:pointer;
}
.close {
	font-size:30px;
	width:40px;
	font-weight:bold;
	color:#fff;
	padding:10px;
	cursor:pointer;
	float:right;
	margin-right:8px;
	margin-top:3px;
	position:relative;
	z-index:1100;
}
.tab {
	display:block;
	font-size:20px;
	float:left;
	padding-bottom:2px;
	border-bottom:1px #fff dashed;
	margin: 20px 20px 0;
}
.tab.active {
	font-weight:bold;
	border-bottom:0;
}
.reg-f {
	display:none;
}
.reg-f, .login-f {
	position:relative;
	top:25px;
}
.fieldwrap {
	width:auto;
	display:block;
	float:none;
	clear:both;
	text-align:right;
	padding-right:40px;
}
.reg-f .f-text, .login-f .f-text {
	border: 0;
	box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-moz-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background: #eee url(../images/fieldgrad.png) top left repeat-x;
	padding-top:10px;
	height:24px;
	line-height:24px;
	padding-left: 7px;
	font-size:14px;
}
.logbut, .regbut {
	height:32px;
	background:#555 url(../images/go-button.png) top left repeat-x;
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
	border:1px #999 solid;
	font-size:16px;
	padding:6px 12px;
	font-weight:bold;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
	text-shadow:0px 1px 1px #000;
	margin-top:10px;
}
.logbut:hover, .regbut:hover {
	background:#555 url(../images/go-button.png) bottom left repeat-x;
	cursor:pointer;
}

.fieldwrap label {width:140px;}

.fieldwrap label, .fieldwrap input {
	display:block;
	float:right;
	margin-right:40px;
	margin-bottom:10px;
}
.fieldwrap .logbut, .fieldwrap .regbut {
	float:right;
}
.login-tab, .reg-tab {
	cursor:pointer;
	position:relative;
	z-index:1101;
}
/*result page */

/* top form */

/* front-form */

.result .submit-form {
	width:100%;
	margin:0 auto;
	height:60px;
	position:relative;
	background-image: none;
	margin-top:0px;
	padding-top:0px;
}
.result .link-input-wrapper {
	display:block;
	width:920px;
	margin:0 auto;
	padding-top:0;
	padding-left:40px;

	
	background: transparent url(../images/link-icon-small.png) 0px 20px no-repeat;
	margin-left:0;
}
.result .link-input {
	border: 0;
	box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-moz-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	-webkit-box-shadow: inset 1px 1px 2px #999, 0px 0px 2px #fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	background: #eee url(../images/fieldgrad.png) top left repeat-x;
	padding-top:10px;
	height:29px;
	line-height:29px;
	width:770px;
	position:relative;
	top:14px;
	padding-left: 7px;
	font-size:18px;
}
.result .link-button {
	height:38px;
	width:120px;
	margin-left:10px;
	position:relative;
	top:12px;
	background:#555 url(../images/go-button.png) top left repeat-x;
	box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	-webkit-box-shadow: 1px 1px 3px #333;
	border:1px #999 solid;
	font-size:14px;
	font-weight:bold;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	font-family: 'Ubuntu', sans-serif;
	color:#fff;
	text-shadow:0px 1px 1px #000;
}
.result .link-button:hover {
	background:#555 url(../images/go-button.png) bottom left repeat-x;
	cursor:pointer;
}
.results-table a {
	color:#09698f;
}
.results-table a:hover {
	color:#07B1D6
}
.results-table {
text-shadow:0px 1px 2px #fff;
font-size:14px;
width:800px;
table-layout: fixed;
}
.results-table td {
	padding:8px 10px;
}

.results-table td.link-text { width:auto; word-wrap:break-word;}
.results-table td.link-url {width:650px;  word-wrap:break-word;}


.results-table tr.odd td {
	background-color:#f4f4f4;
	background-color:rgba(255,255,255,0.3);
}
.results-table tr.even td {
	background-color:#ccc;
	background-color:rgba(55,55,55,0.1);
}
h1.ext-links-heading {
	margin-top:60px;
	padding-right:50px;
	background:transparent url(../images/link-external.png) top right no-repeat;
	width:200px;
	float:left;
}
h1.int-links-heading {
	margin-top:60px;
	padding-right:40px;
	background:transparent url(../images/link-internal.png) top right no-repeat;
	width:200px;
	float:left;
}
h1.system-links-heading {
	margin-top:60px;
	padding-right:50px;
	background:transparent url(../images/link-system.png) top right no-repeat;
	width:115px;
	float:left;
}
.status-dead td.link-text span {
	background:#000;
	color:#fff;
	text-shadow:none;
	padding:5px 8px;
}
.results-table td.link-status-icon {
	text-align:center;
	vertical-align:middle;
	width:40px;
	padding-top:5px;
}
.results-table td.link-text {
	width:250px;
	cursor:pointer;
}
/*messages */
.errorlist {
	display:block;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	padding:8px 12px;
	background: #FFC;
	font-weight:bold;
	position:absolute;
	color:#C33;
	border: 1px #C33 solid;
	margin-top:10px;
	width:180px;
	margin-left:-280px;

}
.login-form .errorlist {
	margin-left:-200px;
	margin-top:5px;
	
}
.errorlist li {
	list-style:none;
}


.result .errorlist {
		margin-left:0px;
		margin-top:90px;}
		
.message {width:600px;
margin:40px auto 10px;
padding:22px 20px 30px 80px;
}	
		
.message.warning {
border: 1px #ffc04d solid; 
background:#FFC url(../images/warning.png) 20px 20px no-repeat; 
background:rgba(255,221,159,0.42) url(../images/warning.png) 20px 20px no-repeat; 
 }

.message.ok {
border: 1px #3C3 solid; 
background: #9F6 url(../images/warning.png) 20px 20px no-repeat; 
background:rgba(95,196,28,0.2) url(../images/ok.png) 20px 20px no-repeat; 
 }

.message.info {
border: 1px #0099a6 solid; 
background: #9F6 url(../images/warning.png) 20px 20px no-repeat; 
background:rgba(24,155,195,0.20) url(../images/info.png) 20px 20px no-repeat; 
 }
 
 /* user */
.user-mail-block {
	color:#777;
	font-size:16px;
	width:960px;
	text-shadow:0px 1px 1px #fff;
	display:block;
	position:relative;
	top:15px;
	text-align:right;
	padding-right:16px;
	margin-bottom:10px;
}
.user-mail {
	padding-left:25px;
	color:#000;
	text-shadow:0px 1px 1px #fff;
	margin-left:10px;
	text-align:right;
	display:inline;
	font-weight:bold;
	padding-top:5px;
	background:transparent url(../images/user-mail-ico.png) center left no-repeat;

}
