<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href="{{ MEDIA_URL }}/css/style.css" rel="stylesheet" type="text/css" />
{% block additional_css %}{% endblock %}

<script src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/login.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/js/cookies.js"></script>

<title>Linky: keep your links alive!</title>
</head>

{% block bodytag %}<body>{% endblock %}
<div class="shadow"></div>
<div class="login-form">
  <div class="close">x</div>
  <span class="login-tab tab">Log in</span><span class="reg-tab tab">Register</span>
  <form class="login-f" id="id_login-f" id="id_login_form">    
  <div class="fieldwrap"><input name="email" type="text" class="f-text mail" id="id_login_email" /><label>Email</label> </div>
    <div class="fieldwrap">  <input name="password" type="password" class="f-text pass"  id="id_login_password" /><label>Password</label></div>
  <div class="fieldwrap">  <input type="button" class="logbut" id="id_login_button" value="login" /></div>
  </form>
  <form class="reg-f" id="id_reg-f">
  
    <div class="fieldwrap">   <input name="" id="id_registration_email" type="text" class="f-text regmail" /><label>Email</label></div>
   <div class="fieldwrap">   <input name="" id="id_registration_password" type="password" class="f-text regpass" /><label>Password</label></div>
     <div class="fieldwrap">  <input name="" id="id_registration_password_verification" type="password" class="f-text regdoublepass" /><label>Repeat password</label></div>
  <div class="fieldwrap"><input name="" type="button" class="regbut" id="id_registration_button" value="register" /> </div>
  
  </form>
  
   </div>
  
<div class="wrapper"> 
  <!-- header -->   
  <div class="header">
    {% block toplogo %}
        <div class="top-logo"><a href="{% url index.views.index %}"><img src="{{ MEDIA_URL }}/images/logo-small.png" width="149" height="69" alt="Linky" /></a></div> 
    {% endblock %}
    
  {% if user.is_authenticated %}
    <ul class="topmenu">
      <li><a href="{% url accounts.views.account_logout %}">logout</a></li>
      <li><a href="#">dashboard</a></li>
      <li><a href="#">settings</a></li>
      <li class="last"><a href="{% url index.views.how_it_works %}">how it works</a></li>
    </ul>
  {% else %}      
    <ul class="topmenu">      
      <li><a class="login">log in</a></li>
      <li class="last"><a href="{% url index.views.how_it_works %}">how it works</a></li>
    </ul>
  {% endif %}  
  </div>
  <!-- end header --> 
  <!-- content -->
  
  <div class="content">
      <!-- user header -->
      {% if user.is_authenticated %}<div class="user-mail-block">you are logged in as: <span class="user-mail">{{ user.username }}</span></div>{% endif %}
      <!-- user header -->
      {% block content %}{% endblock %}
  </div>
  
  <!-- end content --> 
  
  
  <!-- footer -->
  <div class="footer">
    <ul class="botmenu">
      <li class="first">
      <a href="{% url index.views.how_it_works %}">how it works</a></li>
      {% if not user.is_authenticated %}
          <li><a class="login">log in</a></li>
          <li><a class="login register">register</a></li>      
      {% endif %}    
      <li class="github last"><a href="http://github.com/">github</a></li>
    </ul>
    <span class="copyright">&copy;2011<br />
    <a href="http://djangodash.com/">Django Dash</a> participant</span> </div>
  <!-- end footer --> 
</div>
</div>
</body>
</html>
