{% extends "base-template.html" %}
{% block bodytag %}<body class="result">{% endblock %}
{% block content %}
    <div class="submit-form">
      <form action="{% url index.views.quick_test %}" method="POST">
        <div class="link-input-wrapper">
            {% csrf_token %}
          {% if form.url.errors %}{{ form.url.errors }}{% endif %}{{ form.url }}
          <input name="check" type="submit" value="Check link"  class="link-button" />
        </div>
      </form>
    </div>
    {% if not results %}
        <div class="message warning">Please, enter URL above to check</div>
    {% else %}  
        <h1 class="int-links-heading">Internal links</h1>
        {% for link_type, links in results.internal.items %}
            <h2>{{ link_type }}</h2>
            <table class="results-table" width="100%" cellpadding="1px" cellspacing="1px">
                {% for l in links %}
                    <tr class="{% cycle "odd" "even" %} status-error">
                        <td class="link-status-icon"><img title="error" src="{{ MEDIA_URL }}/images/icon-error.png" width="16" height="16" /></td>
                        <td class="link-text"><span>{{ l.link_anchor }}</span> {{ l.verbose }}</td>
                        <td class="link-url"><a href="{{ l.full_link }}" target="_blank">{{ l.link }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    
    {% endif %} {# end of 'if not results' #}
{% endblock %}